$logosmallfont: 'Baloo Tammudu 2', cursive;
$logobigfont: 'Actor', sans-serif;
$logosize: 24px;

$navfont: 'Source Sans Pro', sans-serif;
$navsize: 16px;

$headingfont: 'Poppins', sans-serif;
$headingbigsize: 84px;
$headingmedsize: 72px;
$headingsmallsize: 36px;

$textfont: 'Source Sans Pro', sans-serif;
$textbigsize: 22px;
$textsmallsize: 12px;

$fontcolor: white;