body {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 70px;
  max-width: 95%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo {
  font-size: 24px;
  font-family: "Baloo Tammudu 2", cursive;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.header__nav--small {
  min-width: 42px;
  min-height: 42px;
}
.header__nav--small :hover {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
}

.header__nav--med {
  display: none;
}

.header__nav--big {
  display: none;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 95vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95%;
  width: 100%;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
}

.main__content--heading {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.8px;
  text-align: center;
  max-width: 80%;
}

.main__content--text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  max-width: 100%;
}

.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  .header {
    min-height: 100px;
  }

  .header__nav--small {
    display: none;
  }

  .header__nav--med {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main__content--heading {
    font-size: 72px;
  }

  .main__content--text {
    font-size: 22px;
    line-height: 33px;
  }
}
@media screen and (min-width: 1001px) {
  .container {
    max-width: 90%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .header {
    min-height: 130px;
    max-width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    font-family: "Actor", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    letter-spacing: -0.25px;
  }

  .header__nav--med {
    display: none;
  }

  .header__nav--big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 70vh;
    max-width: 905;
  }

  .main__content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .main__content--heading {
    font-size: 84px;
    text-align: start;
  }

  .main__content--text {
    text-align: start;
    max-width: 70%;
  }

  .main__img {
    position: relative;
    bottom: 70px;
    max-width: 42%;
  }
}